*,
*:focus,
*:active {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	box-sizing: border-box;
	outline: none;
}

@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 200;
	font-display: swap;
	src: url(../fonts/Montserrat-ExtraLight.woff2) format("woff2");
	src: url(../fonts/Montserrat-ExtraLight.woff) format("woff");
}

@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(../fonts/Montserrat-Light.woff2) format("woff2");
	src: url(../fonts/Montserrat-Light.woff) format("woff");
}

@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(../fonts/Montserrat-Regular.woff2) format("woff2");
	src: url(../fonts/Montserrat-Regular.woff) format("woff");
}

@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(../fonts/Montserrat-Medium.woff2) format("woff2");
	src: url(../fonts/Montserrat-Medium.woff) format("woff");
}

@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url(../fonts/Montserrat-SemiBold.woff2) format("woff2");
	src: url(../fonts/Montserrat-SemiBold.woff) format("woff");
}

@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(../fonts/Montserrat-Bold.woff2) format("woff2");
	src: url(../fonts/Montserrat-Bold.woff) format("woff");
}

$color_black: #1E1F22;
$color_white: #ffffff;
$color_yellow:#FFCF00;
$color_grey:#888888;
$transition: all 0.5s ease;

html,
body {
	max-height: 100%;
}

body {
	background: $color_black;
	overflow-x: hidden;
	color: $color_white;

	&.locked {
		overflow: hidden;
	}
}

body,
form,
table {
	font: normal normal 18px "Montserrat", Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 140%;
	color: $color_white;
	margin: 0;
	padding: 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Montserrat", sans-serif;
	color: $color_white;
	margin: 0;
	font-weight: 500;
}

h1 {
	font-size: 64px;
	line-height: 105%;
}

h2 {
	font-size: 36px;
	line-height: 120%;
	margin-bottom: 10px;
}

h3 {
	font-size: 18px;
	line-height: 100%;
	margin-bottom: 10px;
	color: #808080;
}

p {
	margin-top: 0;

	&:last-child {
		margin-bottom: 0;
	}
}

a {
	cursor: pointer;
	text-decoration: none;
	color: $color_white;
	outline: none;
	display: inline-block;
	transition: $transition;

	&:hover {
		text-decoration: none;
	}
}

button {
	background: transparent;
	border: none;
	padding: 0;
	margin: 0;
}

iframe {
	border: none;
}

img {
	max-width: 100%;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.d-flex {
	display: flex;
}

.align-items-center {
	align-items: center;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-between {
	justify-content: space-between;
}

input,
textarea,
select,
button {
	font-family: "Montserrat", sans-serif;
}

.text_center {
	text-align: center !important;
}

.text_left {
	text-align: left !important;
}

.text_right {
	text-align: right !important;
}

.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 0 15px;
}

@media screen and (min-width:769px) {
	.container {
		padding: 0 30px;
	}
}

@media screen and (min-width:1200px) {
	.container {
		max-width: 1480px;
	}
}

//swiper
.arrows {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.swiper-button-next,
.swiper-button-prev {
	width: 60px;
	height: 60px;
	border: 1px solid rgba(255, 255, 255, 0.20);
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	top: initial;
	left: initial;
	right: initial;
	margin: 0;

	&:after {
		display: none;
	}

	svg {
		fill: $color_white;
		width: 24px;
		height: 24px;
	}

	&:hover {
		border-color: $color_yellow;
	}
}

.swiper-button-prev {
	left: 9px;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
	opacity: 1;

	svg {
		opacity: 0.2;
	}
}

.slider_top {
	margin-bottom: 46px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

//quote
.quote_text {
	position: relative;
	padding: 57px 0 38px;

	&:before,
	&:after {
		content: '';
		display: block;
		position: absolute;
		width: 30px;
		height: 28px;
		background-repeat: no-repeat;
		background-position: center;
	}

	&:before {
		top: 0;
		left: 0;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='30' height='28' viewBox='0 0 30 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M15.8678 28H27.1488L30 0H25.7851L15.8678 28Z' fill='%23FFCF00'/%3e%3cpath d='M0 28H11.281L14.1322 0H9.91736L0 28Z' fill='%23FFCF00'/%3e%3c/svg%3e ");
	}

	&:after {
		bottom: 0;
		right: 4px;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='30' height='28' viewBox='0 0 30 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14.1322 0H2.85124L0 28H4.21488L14.1322 0Z' fill='%23FFCF00'/%3e%3cpath d='M30 0H18.719L15.8678 28H20.0826L30 0Z' fill='%23FFCF00'/%3e%3c/svg%3e ");
	}
}

//btn
.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 16px 24px;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 100%;
	color: $color_black;
	margin: 0;
	cursor: pointer;
	border: 1px solid $color_yellow;
	transition: $transition;
	background: $color_yellow;
	border-radius: 130px;
	position: relative;

	&.disabled,
	&:disabled {
		opacity: 0.5;
		pointer-events: none;
	}

	&:hover {
		border-color: #ffb300;
		background: #ffb300;
		color: $color_black;
		box-shadow: 0px 0px 32px 0px rgba(255, 207, 0, 0.64);

		svg {
			fill: #0F0F11;
		}
	}

	svg {
		transition: $transition;
		width: 24px;
		height: 24px;
		fill: #0F0F11;
		margin-right: 10px;
	}

}

.btn_primary {
	background: transparent;
	color: $color_white;

	svg {
		fill: $color_yellow
	}
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.subtitle {
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 120%;
	margin-bottom: 10px;
}

.section {
	padding: 150px 0;
	position: relative;

	.container {
		z-index: 1;
		position: relative;
	}
}

.color_yellow {
	color: $color_yellow;
}

.header_bg {
	position: relative;
}

.bg_img {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 1;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 1;
	}

	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		background: linear-gradient(180deg, #1E1F22 0%, rgba(30, 31, 34, 0.00) 50%, #1E1F22 100%);
	}

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background: #0F0F11;
		opacity: 0.5;
		z-index: 2;
	}
}

main {
	position: relative;
	overflow: hidden;

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 150px;
		background: linear-gradient(180deg, #1E1F22 18.23%, rgba(30, 31, 34, 0.00) 100%);
	}
}

.loader_wrapper {
	width: 100%;
	height: 100dvh;
	z-index: 1000;
	position: relative;
	position: fixed;

	&:after {
		content: '';
		display: block;
		position: absolute;
		bottom: -100px;
		right: 0;
		width: 100%;
		height: 200px;
		background: $color_yellow;
		z-index: 1;
	}
}

.loader {
	background: $color_black;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	position: relative;
	z-index: 2;
}

.loader_logo {
	max-width: 680px;
	width: 100%;
	margin-bottom: 82px;

	img {
		width: 100%;
	}
}

.loader_line {
	display: block;
	position: relative;
	height: 4px;
	width: 100%;
	max-width: 440px;
	background: $color_white;
	border-radius: 10px;
	overflow: hidden;

	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 0;
		background: $color_yellow;
	}

}

.logo_svg {
	border: 5px solid $color_white;
	width: 170px;
	height: 52px;
	border-radius: 12px;
	display: flex;
	position: relative;
	overflow: hidden;
}

.logo_svg_signature {
	margin-top: 7px;
}

.logo_svg_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.logo_svg_col {
	width: 25%;
	position: relative;
	padding-top: 9px;

	&:after,
	&:before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		width: 100%;
		height: 8px;
		background: #1F1F23;
		// background: red;
	}

	&:after {
		top: 0;
	}

	&:before {
		bottom: 0;
	}


	&:not(:last-child) {
		border-right: 2px solid $color_white;
	}

	svg {
		width: 26px;
		height: 26px;
		flex: 0 0 auto;
	}

	&:first-child {
		padding-top: 3.5px;

		.logo_svg_item {

			top: 100%;
		}
	}

	&:nth-child(2) {
		svg {
			width: 20px;
			height: 25px;
		}
	}

	&:nth-child(3) {
		svg {
			width: 23px;
			height: 25px;
		}
	}

	&:last-child {
		padding-top: 7px;

		svg {
			width: 30px;
			height: 28px;
		}
	}
}

.logo_svg_item {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3px;
	position: absolute;
	left: 0;
	width: 100%;
	transition: $transition;
}

.mobile_menu {
	display: none;
}

.header {
	z-index: 50;
	position: fixed;
	width: 100%;
	height: 100px;

	.container {
		max-width: 1500px;
	}

	&.fix {
		position: fixed;
		// top: 30px;

		.header_elem {
			transform: translateY(-100%);
		}

		&:not(.fix-on-scroll) {

			.header_block_wrapper {
				&:before {
					height: calc(100% + 10px);
					bottom: -10px;
				}
			}
		}
	}

	&.fix-on-scroll {
		.header_elem {
			transition: $transition;
			transform: translateY(0%);
		}
	}


}

.header_elem {
	width: 100%;
	transition: $transition;
	position: relative;
	padding-top: 30px;
}

.header_block {
	border-radius: 16px;
	background: #1F1F23;
	display: flex;
	align-items: center;
	padding: 15px 40px;
	z-index: 2;
	position: relative;
}

.header_block_wrapper {
	position: relative;
	max-width: 1440px;
	z-index: 100;
	transition: $transition;

	&:before {
		content: '';
		display: block;
		position: absolute;
		bottom: -5px;
		left: 30px;
		width: calc(100% - 60px);
		height: 96%;
		background: $color_yellow;
		border-radius: 16px;
		box-shadow: 0px 4px 16px 0px rgba(255, 207, 0, 0.64);
		z-index: 1;
		transition: $transition;
	}
}

.menu {
	margin-left: auto;
	margin-right: auto;
}

.menu_list {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 30px;
}

.menu_list a {
	color: $color_grey;
	font-size: 18px;
	font-weight: 500;
	line-height: 100%;
	padding: 4px 0;
	position: relative;

	&:after {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 0;
		height: 1.2px;
		border-radius: 19.2px;
		background: $color_yellow;
		box-shadow: 0px 4.8px 19.2px 0px rgba(255, 207, 0, 0.64);
		transition: $transition;
	}

	&:hover {
		color: $color_white;

		&:after {
			width: 100%;
		}
	}
}

.language_wrapper {
	width: 170px;
	display: flex;
	justify-content: flex-end;
}

.language {
	position: relative;
	width: 64px;

	&.active {
		background: $color_white;
		color: $color_black;
		border-radius: 32px 32px 0 0;

		.language_dropdown {
			display: block;
		}
	}
}

.mobile_menu_btn {
	display: none;
	align-items: center;
	justify-content: center;
	flex: 0 0 auto;
	width: 32px;
	height: 32px;
	border-radius: 100%;
	background: $color_yellow;

	&.active {
		span {
			background: transparent;

			&:after,
			&:before {
				top: 0;
				width: 100%;
			}

			&:after {
				transform: rotate(-135deg);
			}


			&:before {
				transform: rotate(135deg);

			}
		}
	}

	span {
		width: 10px;
		height: 1.5px;
		background: $color_black;
		position: relative;
		display: flex;
		transition: $transition;

		&:after,
		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			width: 7px;
			height: 1.5px;
			background: $color_black;
			transition: $transition;
		}

		&:before {
			top: -3.5px;
			right: 0;
		}

		&:after {
			top: 3.5px;
			left: 0;
		}
	}
}

.logo {
	display: flex;
}

.language_title {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 64px;
}

.language_dropdown {
	display: none;
	position: absolute;
	top: calc(100% - 12px);
	padding-bottom: 12px;
	width: 100%;
	right: 0;
	background: $color_white;
	border-radius: 0 0 32px 32px;

	a {
		display: flex;
		padding: 8px 0;
		align-items: center;
		justify-content: center;
		color: $color_black;

		&:hover {
			color: $color_yellow;
		}
	}
}

.home_title {
	display: flex;
	width: fit-content;
	flex-direction: column;
	will-change: transform;

	.line {
		display: flex;
		text-align: start;
		width: 100%;
		position: relative;
		overflow: hidden;

		span {
			position: relative;
		}

		&:nth-child(2) span,
		&:last-child span {
			font-weight: 200;
		}

		&:nth-child(2) span {
			margin-left: auto;
		}

		&:last-child span {
			margin-left: 112px;

			img {
				position: relative;
				top: 1px;
				left: -5px;
			}
		}
	}
}

.home {
	position: relative;
	z-index: 1;
	height: 100dvh;

	.container {
		height: 100%;
		display: flex;
		flex-direction: column;
		padding-top: 245px;
		padding-bottom: 30px;
	}
}

.home_bottom {
	margin-top: auto;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	padding-top: 40px;

}

.arrow {
	border: 1px solid $color_yellow;
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	cursor: pointer;
	transition: $transition;

	svg {
		fill: $color_white;
		width: 24px;
		height: 24px;
		transition: $transition;
	}

	&:hover {
		background: $color_yellow;

		svg {
			fill: $color_black;
		}
	}
}

.home_subtitle {
	font-size: 64px;
	font-style: normal;
	font-weight: 500;
	line-height: 140%;
	transition: $transition;
}

//about
.about {
	z-index: 1;

	h3 {
		color: $color_white;
	}
}

.about_block {
	display: flex;

}

.about_block_left {
	width: 50%;
}

.about_block_right {
	width: 50%;
	padding-left: 15px;
}

@keyframes click-animation-start {
	100% {
		transform: scale(1) rotate(-90deg);
	}

	50% {
		transform: scale(0.8) rotate(-45deg);
	}

	0% {
		transform: scale(1);
	}
}

@keyframes click-animation-end {
	100% {
		transform: scale(1) rotate(0);
	}

	50% {
		transform: scale(0.8) rotate(-45deg);
	}

	0% {
		transform: scale(1) rotate(-90deg);
	}
}

.faq_item {
	transition: $transition;
	border-bottom: 1px solid rgba(255, 255, 255, 0.20);

	&:first-child {
		border-top: 1px solid rgba(255, 255, 255, 0.20);
	}

	&.active {
		.faq_item_btn {

			.count {
				color: $color_yellow;
			}

			svg {
				fill: $color_yellow;
				animation: click-animation-start 0.3s linear forwards;
			}
		}
	}
}

.faq_item_btn {
	padding: 20px 0;
	display: flex;
	align-items: flex-start;
	width: 100%;
	gap: 10px;
	transition: $transition;
	cursor: pointer;

	.count {
		color: $color_grey;
		transition: $transition;
		width: 40px;
		font-size: 19px;
		font-weight: 500;
		line-height: 120%;
		display: flex;
	}


	.name {
		font-size: 30px;
		font-style: normal;
		font-weight: 500;
		line-height: 120%;
		color: $color_white;
	}

	svg {
		margin-left: auto;
		fill: $color_grey;
		width: 24px;
		height: 24px;
		transition: $transition;
		margin-top: 6px;
		animation: click-animation-end 0.3s linear forwards;
	}
}

.faq_item_content {
	display: none;
	margin-top: -10px;
	padding-left: 50px;
	padding-bottom: 20px;
}

//result
.result {
	padding: 100px 0 110px;
}

.result_block {
	display: flex;
}

.result_block_left {
	width: 60%;
	padding-right: 40px;
}

.result_block_right {
	width: 40%;
	padding-top: 30px;
}

.result_list {
	display: flex;
	margin-top: 63px;
	gap: 30px;
	flex-wrap: wrap;
}

.result_item {
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%;
	padding: 30px;
	transition: $transition;
	border-radius: 16px;
	border: 1px solid transparent;
	background: linear-gradient(#1E1F22 0 0) padding-box, linear-gradient(207deg, rgba(255, 207, 0, 0) 61%, rgb(255, 207, 0) 100%) border-box;

	.number {
		color: rgba(255, 255, 255, 0.20);
		font-size: 32px;
		font-style: normal;
		font-weight: 400;
		line-height: 100%;
		margin-bottom: 10px;
		display: block;
		transition: $transition;
	}
}

.result_slider_block {
	border-radius: 16px;
	border: 1px solid var(--ffffff, rgba(255, 255, 255, 0.20));
	background: #28292C;
	padding: 50px 50px 68px;
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 330px;
	position: relative;
	z-index: 1;
	transition: $transition;
}

.result_slider {
	position: relative;
	background: $color_black;
	border-radius: 16px;

	&:before {
		transition: all 0.2s ease;
		content: '';
		display: block;
		position: absolute;
		bottom: -10px;
		width: 80px;
		left: 50%;
		transform: translateX(-50%);
		height: 100px;
		background: $color_yellow;
		border-radius: 16px;
		box-shadow: 0px 4px 16px 0px rgba(255, 207, 0, 0.64);
	}

	.swiper-pagination {
		bottom: 25px;
		width: auto;
		max-width: 70%;
		left: 50%;
		transform: translateX(-50%);
	}

	.swiper-pagination-bullet {
		background: #4A4A4A;
		opacity: 1;
		border-radius: 10px;
		transition: $transition;
		cursor: pointer;
	}

	.swiper-pagination-bullet-active {
		width: 16px;
		background: $color_yellow;
	}
}

.stars_list {
	display: flex;
	align-items: center;
	gap: 4px;

	svg {
		transition: $transition;
		width: 16px;
		height: 16px;
		fill: $color_white;
		opacity: 0.2;
	}
}

.result_slider_title {
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%;
	margin-bottom: 10px;
	margin-top: auto;

	span {
		color: $color_yellow;
	}
}

.result_slider_text {
	color: $color_grey;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
}

// company
.company_block {
	display: flex;
	justify-content: space-between;
}

.company_title {
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 120%;
}

.company_block_sticky {
	position: sticky;
	top: 60px;
	transition: $transition;

	&.out {
		top: 160px;
	}
}

.company_block_left {
	width: 34%;
	padding-right: 40px;
}

.company_block_right {
	width: 66%;
}

.company_list {
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;

}

.company_col {
	padding-left: 15px;
	padding-right: 15px;
	width: 50%;

	&:not(:last-child) {
		margin-bottom: 30px;
	}

	&:nth-child(4),
	&:nth-child(5) {
		.company_logo {
			width: 190px;
		}

		.company_item:hover {
			.company_logo {
				img {
					&:first-child {
						opacity: 0;
					}

					&:nth-child(2) {
						opacity: 1;
					}
				}
			}
		}
	}

	&:nth-child(5) {
		width: 100%;
	}
}

.company_item {
	height: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	border-radius: 16px;
	border: 1px solid rgba(255, 255, 255, 0.20);
	background: rgba(50, 51, 54, 0.30);
	transition: $transition;
	padding: 30px;
	cursor: pointer;

	&:hover {
		border-radius: 16px;
		border: 1px solid $color_yellow;
		background: #323336;
		box-shadow: 0px 4px 32px 0px $color_yellow;

		.company_item_separate:after {
			width: 100%;
		}

	}

	.title {
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
		line-height: 120%;
		margin-bottom: 10px;
	}

	.text {
		margin-bottom: 30px;
	}

	.link {
		color: $color_grey;
		font-weight: 500;
		line-height: 100%;
		margin-top: auto;
	}
}

.company_item_separate {
	margin: 30px 0;
	background: rgba(255, 255, 255, 0.20);
	height: 1px;
	width: 100%;
	position: relative;

	&:after {
		transition: $transition;
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 25%;
		height: 100%;
		background: $color_yellow;
	}
}

.company_logo {
	width: 132px;
	height: 60px;
	margin-left: auto;
	margin-right: auto;
	position: relative;

	img {
		transition: $transition;
		position: absolute;
		top: 0;
		left: 0;

		&:nth-child(2) {
			opacity: 0;
		}
	}
}

.mission {
	padding: 100px 0;
}

.mission_block {
	display: flex;
}

.mission_block_left {
	width: 33%;
	display: flex;
	align-items: center;
}

.mission_block_right {
	width: 67%;
	padding-left: 10px;
}

.mission_quote {
	background: #28292C;
	padding: 60px 30px 60px;

	.signature {
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 120%;
		text-transform: uppercase;
	}

	.text {
		font-size: 36px;
		font-style: normal;
		line-height: 120%;
		text-transform: uppercase;
		font-weight: 300;
		margin-bottom: 30px;

		span {
			font-weight: 500;

		}
	}
}

//partners
.partners {
	padding: 50px 0 100px;
}


.partners_slider_wrapper {
	position: relative;
	overflow: hidden;
	padding: 65px 0;
	margin: -30px 0 -65px
}

.partners_slider {
	overflow: initial;
	position: relative;
	padding: 0 15px;

	.swiper-slide {
		width: 342px;
	}
}

.partners_item_wrapper {
	position: relative;
	height: 0;
	padding-bottom: 100%;
}

.partners_item {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;

	&:hover {
		// background: $color_black;
		// z-index: 1;

		.partners_item_img {
			filter: grayscale(0);
			transform: scale(1.25);
		}

		&:before {
			border: 4px solid var(--ffcf-00, $color_yellow);
			box-shadow: 0px 4px 32px 0px $color_yellow;
			transition: $transition;

		}
	}

	&:before {
		transition: all 0.1s ease;

		content: '';
		display: block;
		position: absolute;
		top: -15px;
		left: -15px;
		width: calc(100% + 30px);
		height: calc(100% + 30px);
		border: 1px solid rgba(255, 255, 255, 0.20);
		border-radius: 100%;

	}
}

.partners_item_img {
	width: 57.555%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: $transition;
	filter: grayscale(1);

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

//people
.people_block {
	display: flex;
	align-items: center;
}

.people_block_right {
	width: 60%;
	padding-left: 30px;
}

.people_block_left {
	width: 40%;
}

.people_photo {
	max-width: 453px;

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.people_quote {
	max-width: 700px;

	.text {
		font-size: 32px;
		font-style: normal;
		font-weight: 500;
		line-height: 120%;
		padding-left: 33px;
		padding-bottom: 58px;

		&:after {
			right: 24px;
		}
	}

	.signature {
		padding-left: 33px;
	}

	.autor {
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		display: block;
		line-height: 120%;

		br {
			display: none;
		}
	}

	.signature_text {
		margin-top: 10px;
		display: block;
		color: $color_grey;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
	}

}

//administration
.administration {
	padding: 100px 0 70px;

	.slider_top {
		margin-bottom: 23px;
	}
}

.administration_slider_wrapper {
	overflow: hidden;
}

.administration_slider {
	padding-bottom: 32px;

	.swiper-slide {
		width: 300px;
		height: 418px;
	}
}

.administration_item {
	border-radius: 16px;
	border: 1px solid rgba(255, 255, 255, 0.20);
	background: #28292C;
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
	transition: $transition;
}

.administration_item_bg {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	border-radius: 16px;
	overflow: hidden;
	z-index: 1;

	&:before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background: #0F0F11;
		opacity: 0.7;
		transition: $transition;
	}

	&:after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(180deg, #1E1F22 0%, rgba(30, 31, 34, 0) 50%, #1E1F22 100%);
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.administration_item_bg_yellow {
	background-image: linear-gradient(180deg, rgba(255, 207, 0, 0.00) 0%, #FFCF00 100%);
	transition: all 1s ease;
	display: block;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
	bottom: -10px;
	width: 80px;
	height: 40px;
	border-radius: 16px;
	background-color: $color_yellow;
	box-shadow: 0px 4px 16px 0px rgba(255, 207, 0, 0.64);
}

.administration_item_people {
	transition: $transition;
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	display: flex;
	align-items: flex-end;
	justify-content: center;

	img {
		width: 100%;
		height: 100%;
		max-width: 260px;
		max-height: 378px;
		object-fit: contain;
	}
}

.administration_item_text {
	transition: $transition;
	padding: 20px;
	margin-top: auto;
	position: relative;
	z-index: 4;
	width: calc(100% + 4px);
	background: linear-gradient(180deg, rgba(30, 31, 34, 0.00) 0%, #1E1F22 100%);
	min-height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: absolute;
	bottom: -1px;
	left: -2px;
	overflow: hidden;

	.name {
		margin-bottom: 4px;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 100%;
	}

	.post {
		font-size: 10px;
		font-style: normal;
		font-weight: 500;
		line-height: 100%;
	}
}

.administration_item_logo {
	transition: $transition;
	opacity: 0;
	content: '';
	display: block;
	position: absolute;
	top: 30px;
	left: 30px;
	width: 95px;
	height: 30px;
	z-index: 5;

	img {
		max-width: 100%;
		max-height: 100%;
		object-fit: contain;
	}
}

.footer {
	padding-top: 80px;

	.menu {
		margin: 0;
	}

	.menu_list {
		flex-direction: column;
		align-items: flex-start;

		li:not(:last-child) {
			margin-bottom: 3px;
		}

		a {
			padding-top: 0;
		}
	}
}

.footer_top {
	display: flex;
	justify-content: space-between;
	margin-left: -15px;
	margin-right: -15px;
}

.footer_col {
	padding-left: 15px;
	padding-right: 15px;

	&_menu {
		min-width: 250px;
	}
}

.scrollup {
	svg {
		transform: rotate(180deg);
	}
}

.footer_bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 45px;
	padding: 30px 0;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	color: $color_grey;
	font-style: normal;
	line-height: 100%;

	.link {
		color: $color_grey;

		display: block;
		font-weight: 500;
		position: relative;
		padding: 4px 0;

		&:after {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			bottom: 0;
			width: 0;
			height: 1.2px;
			border-radius: 19.2px;
			background: #FFCF00;
			box-shadow: 0px 4.8px 19.2px 0px rgba(255, 207, 0, 0.64);
			transition: all 0.5s ease;
		}

		&:hover {
			color: $color_white;

			&:after {
				width: 100%;
			}
		}
	}
}

.link_wrapper {
	display: flex;
	align-items: center;
	gap: 30px;
}

.footer_bottom_logo_wrapper {
	display: flex;
	justify-content: flex-end;
	min-width: 254px;
}

.footer_bottom_logo {
	position: relative;
	width: 100px;
	height: 32px;

	img {
		top: 0;
		right: 0;
		position: absolute;
		transition: $transition;

		&:last-child {
			opacity: 1;
		}
	}

	&:hover {
		img {
			&:first-child {
				opacity: 1;
			}

			&:last-child {
				opacity: 0;
			}
		}
	}

}

.footer_link {
	position: relative;

	&:after {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 0;
		height: 1.2px;
		border-radius: 19.2px;
		background: #FFCF00;
		box-shadow: 0px 4.8px 19.2px 0px rgba(255, 207, 0, 0.64);
		transition: all 0.5s ease;
	}

	&:hover {
		a {
			color: $color_yellow;
		}

		.name {
			color: $color_white;
		}

		&:after {
			width: 100%;
		}
	}

	&:not(:last-child) {
		margin-bottom: 30px;
	}

	.name {
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 120%;
		display: block;
		color: $color_grey;
	}

	a {
		display: block;
		font-size: 48px;
		font-style: normal;
		font-weight: 400;
		line-height: 120%;

		span {
			color: $color_yellow;
		}
	}
}

//modal
$animation-setting: 0.8s ease-in-out forwards;

.modal {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	overflow-x: hidden;
	overflow-y: auto;
	animation: $animation-setting;

	&:not([hidden]) {
		animation-name: opacityIn;

		.modal-content {
			animation-name: roadRunnerIn;
		}
	}

	&.is-closing {
		animation-name: opacityOut;

		.modal-content {
			animation-name: roadRunnerOut;
		}
	}

	.close {
		width: 48px;
		height: 48px;
		border-radius: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background: 0 0;
		border: 1px solid $color_yellow;
		position: absolute;
		top: 30px;
		right: 30px;
		z-index: 5;
		cursor: pointer;

		svg {
			width: 16px;
			height: 16px;
			stroke: $color_white;
		}

		&:hover {
			background: $color_yellow;

			svg {
				stroke: $color_black;
			}
		}

	}
}

.modal-content {
	animation: $animation-setting;
}

@keyframes opacityIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes opacityOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes roadRunnerIn {
	0% {
		transform: translateY(-1500px);
	}

	100% {
		transform: translateY(0px);
	}
}

@keyframes roadRunnerOut {
	0% {
		transform: translateY(0px);
	}

	100% {
		transform: translateY(-1500px);
	}
}

.modal-dialog {
	width: 100%;
	min-height: 100%;
	height: auto;
	padding: 30px 16px;
	position: relative;
	z-index: 2;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

@media screen and (min-width:768px) {
	.modal-dialog {
		padding: 30px 32px;
	}
}

.modal_bg {
	background: rgb(0 0 0 / 50%);
	width: 100%;
	min-height: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
}

.modal-content {
	max-width: 935px;
	border-radius: 16px;
	background: #323336;
	box-shadow: 0px 0px 32px 0px #FFCF00;
	width: 100%;
	position: relative;
	padding: 60px;
	margin: auto;

	.result_list {
		margin-top: 0;
	}

	.result_item {
		max-width: 215px;
		border-radius: 8px;
		font-size: 14px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding: 15px;
		background: linear-gradient(#323336 0 0) padding-box, linear-gradient(207deg, rgba(255, 207, 0, 0) 61%, rgb(255, 207, 0) 100%) border-box;

		.number {
			margin-bottom: 5px;
			font-size: 32px;
			font-style: normal;
			font-weight: 700;
			line-height: 100%;
			color: $color_yellow;
		}
	}
}

.modal_logo {
	width: 190px;
	height: 60px;
	margin-bottom: 30px;

	img {
		max-width: 100%;
		max-height: 100%;
		object-fit: contain;
	}
}

.modal_title {
	margin-bottom: 10px;
	font-size: 36px;
	font-style: normal;
	font-weight: 500;
	line-height: 110%;
}

.modal_subtitle {
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	margin-bottom: 30px;
}

.modal_title_h2 {
	margin-bottom: 10px;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
}

.modal_text {
	margin-bottom: 30px;
}

.modal_btns {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
	margin-top: 30px;
}

.modal_email {
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 140%;
	margin-top: 30px;

	span {
		color: $color_yellow;
	}
}

.modal_people {

	.modal-content {
		overflow: hidden;
		padding: 0;
		max-width: 935px;
	}

	.close {
		top: 10px;
		right: 10px;
	}

	.modal_text {
		font-size: 16px;
		line-height: 140%;
	}
}

.modal_people_block {
	display: flex;
}

.modal_people_block_left {
	width: 360px;
	position: relative;
	// overflow: hidden;
}

.modal_people_block_right {
	width: calc(100% - 360px);
	padding: 48px 30px 30px 60px;
}

.modal_people_img {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	border-radius: 16px;
	overflow: hidden;
	z-index: 1;

	&:before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background: #0F0F11;
		opacity: 0.4;
		transition: all 0.5s ease;
	}

	&:after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(180deg, #1E1F22 0%, rgba(30, 31, 34, 0) 50%, #1E1F22 100%);
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.modal_people_img_people {
	display: block;
	position: absolute;
	bottom: 0;
	right: -30px;
	width: 100%;
	max-width: 322px;
	height: 100%;
	z-index: 1;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;

	img {
		width: 100%;
		max-height: 100%;
		object-fit: contain;
	}
}

@media screen and (min-width:577px) {
	.menu_list a {
		&:hover {
			font-size: 21.6px;
		}
	}

	.language_title {
		&:hover {
			color: $color_yellow;
		}
	}

	.header_block_wrapper {
		&:hover {
			&:before {
				height: calc(100% + 10px);
				bottom: -10px;
			}
		}
	}

	.faq_item {
		&:hover:not(.active) {
			border-bottom-color: $color_white;

			.faq_item_btn {
				.count {
					color: $color_yellow;
				}

				svg {
					fill: $color_white;
				}
			}

		}
	}

	.result_item {
		&:hover {
			border-color: $color_yellow;

			.number {
				color: $color_yellow;
			}
		}
	}

	.result_slider_block {
		&:hover {
			.stars_list svg {
				fill: $color_yellow;
				opacity: 1;
			}
		}
	}

	.result_slider {
		&:hover {
			box-shadow: 0px 0px 32px 0px rgba(255, 207, 0, 0.64);

			&:before {
				width: 60%;
				bottom: 10px;
			}

			.result_slider_block {
				background: #323336;
				border-color: $color_yellow;

			}
		}
	}

	.administration_item {
		&:hover {
			border-color: $color_yellow;

			.administration_item_bg_yellow {
				width: calc(100% - 20px);
				height: calc(100% - 10px);
				bottom: 0;
				border-radius: 8px 8px 0px 0px;
				background-color: transparent;

				box-shadow: none;
				transition: $transition;
			}

			.administration_item_text {
				transform: scale(1.2) translateX(23px) translateY(-9px);
				padding: 27px;
			}

			.administration_item_people {
				transform: scale(1.116) translateX(32px) translateY(-19px);
			}

			.administration_item_logo {
				opacity: 1;
			}

			.administration_item_bg:before {
				opacity: 0.4;
			}
		}
	}

	.footer_bottom {
		.link {
			&:hover {
				font-size: 21.6px;
			}
		}
	}
}

@media screen and (max-width:1400px) {
	.language_wrapper {
		width: auto;
	}

	.result_list {
		gap: 20px;
	}

	.result_item {
		padding: 20px;
	}

	.result_block_left {
		padding-right: 20px;
	}
}

@media screen and (max-width:1250px) {
	.result_item {
		width: calc(50% - 10px);
	}
}

@media screen and (max-width:1200px) {
	.header .menu_list {
		column-gap: 20px;

		a {
			font-size: 16px;
		}
	}

	.footer_bottom {
		font-size: 16px;
	}

	.header_block {
		padding-left: 30px;
		padding-right: 30px;

		.logo {
			width: 120px;
		}

	}

	.language {
		width: 48px;
	}

	.language_dropdown {
		padding-bottom: 5px;
		top: calc(100% - 8px);
	}

	.language_title {
		height: 48px;
	}

	.home .container {
		padding-top: 200px;
	}

	h1 {
		font-size: 58px;
	}

	h2 {
		font-size: 32px;
	}

	.home_subtitle {
		font-size: 55px;
	}

	.faq_item_btn .name {
		font-size: 26px;
	}

	.result_slider_block {
		padding: 30px 30px 65px;
	}

	.result_slider_title {
		font-size: 32px;
	}

	.result_list {
		margin-top: 40px;
	}

	.mission_quote .text {
		font-size: 32px;
	}

	.people_quote .text {
		font-size: 28px;
	}

	.footer_link a {
		font-size: 36px;
	}

	.footer_bottom_logo_wrapper {
		min-width: auto;
	}

	.partners {
		padding-bottom: 60px;
	}
}

@media screen and (max-width:1100px) {
	.company_block {
		flex-direction: column;
	}

	.company_block_left {
		width: 100%;
		padding-right: 0;
		padding-bottom: 30px;
	}

	.company_block_right {
		width: 100%;
	}

	.mission_block_left {
		width: 40%;
	}

	.mission_block_right {
		width: 60%;
	}

	.mission_quote .text {
		font-size: 27px;
	}
}

@media screen and (max-width:992px) {
	.mobile_menu_btn {
		display: flex;
		margin-left: 10px;
	}

	.header_block {
		.logo {
			margin-right: auto;
		}

		.menu {
			display: none;
		}
	}

	.mobile_menu {
		top: 0;
		left: 0;
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: 90;
		display: none;
		background: $color_black;

		&.active {
			display: block;
		}

		.menu {
			position: relative;
			z-index: 5;
			width: 100%;
			height: calc(100% - 200px);
			margin-top: 200px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.menu_list {
			flex-direction: column;
			gap: 30px;
			margin: auto;
			justify-content: initial;
			padding-bottom: 60px;
			overflow: auto;
			max-height: 100%;
			width: 100%;

			a {
				font-size: 24px;
				font-style: normal;
				font-weight: 700;
				line-height: 100%;
				text-transform: uppercase;
				color: $color_white;
			}
		}

		.bg_img:before {
			opacity: 0.7;
		}
	}

	h1 {
		font-size: 44px;
	}

	.home_title span:last-child img {
		width: 24px;
	}

	.home_subtitle {
		font-size: 41px;
	}

	.about_block {
		flex-direction: column;
	}

	.about_block_right {
		width: 100%;
		padding-left: 0;
		padding-top: 30px;
	}

	.about_block_left {
		width: 100%;
	}

	.faq_item {
		&:first-child {
			border-top-color: $color_white;
		}

		border-bottom-color: $color_white;

		.faq_item_btn {
			.count {
				color: $color_yellow;
			}

			svg {
				fill: $color_white;
			}
		}
	}

	.section {
		padding: 100px 0;
	}

	.result {
		padding-bottom: 100px;
	}

	.result_block {
		flex-direction: column;
	}

	.result_list {
		margin-top: 30px;
		gap: 20px;
	}

	.result_item {
		width: calc(33.333% - 13.333px);
		padding: 30px;
	}

	.result_block_right {
		width: 100%;
		padding-top: 60px;
	}

	.result_block_left {
		width: 100%;
		padding-right: 0;

	}

	.result_slider {
		box-shadow: 0px 0px 32px 0px rgba(255, 207, 0, 0.64);

		&:before {
			display: none;
		}

		.result_slider_block {
			background: #323336;
			border-color: $color_yellow;

		}
	}

	.result_item {
		border-color: $color_yellow;

		.number {
			color: $color_yellow;
		}

	}

	.mission_block {
		flex-direction: column;
	}

	.mission_block_left {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			width: 100%;
		}
	}

	.mission_block_right {
		width: 100%;
		padding-left: 0;
		padding-top: 30px;
	}

	.people_block_right {
		padding-left: 20px;
	}

	.people_quote {
		.text {
			font-size: 24px;
			padding-bottom: 40px;
			margin-bottom: 30px;

			&:after {
				right: 0;
			}
		}
	}

	.administration_item {

		border-color: $color_yellow;

		.administration_item_bg_yellow {
			width: calc(100% - 20px);
			height: calc(100% - 10px);
			bottom: 0;
			border-radius: 8px 8px 0px 0px;
			background-color: transparent;

			box-shadow: none;
			transition: $transition;
		}

		.administration_item_text {
			transform: scale(1.2) translateX(23px) translateY(-9px);
			padding: 27px;
		}

		.administration_item_people {
			transform: scale(1.116) translateX(32px) translateY(-19px);
		}

		.administration_item_logo {
			opacity: 1;
		}

		.administration_item_bg:before {
			opacity: 0.4;
		}
	}

	.footer_top {
		position: relative;
		flex-wrap: wrap;
		margin: 0;

		.logo {
			margin-bottom: 44px;
		}
	}

	.footer_col_logo {
		width: 100%;
	}

	.footer_col {
		padding: 0;
	}

	.footer {
		.menu_list {
			li {
				width: 100%;
			}
		}
	}

	.scrollup {
		position: absolute;
		bottom: 0;
		right: 0;
	}

	.footer_bottom {
		margin-top: 30px;
		padding-top: 30px;
		flex-direction: column;
	}

	.footer_bottom_text {
		width: 100%;
		text-align: center;
		margin-bottom: 27px;
	}

	.link_wrapper {
		gap: 24px;
		width: 100%;
		margin-bottom: 27px;
		justify-content: center;
	}

	.modal-content .result_list {
		flex-wrap: wrap;
	}

	.modal-content .result_item {
		width: calc(50% - 10px);
		max-width: 100%;
	}

	.modal_people_block_right {
		padding-left: 40px;
	}

	.modal_people_block_left {
		width: 320px;
	}

	.modal_people_block_right {
		width: calc(100% - 320px)
	}
}

@media screen and (max-width:768px) {
	.modal-content {
		padding: 60px 40px;
	}

	.company_list {
		margin: 0;
	}

	.company_col {
		padding: 0;
		width: 100%;
	}

	.footer {
		.menu_list {
			text-align: center;
		}
	}

	.footer_top {
		flex-direction: column;

		.logo {
			align-items: center;
			justify-content: center;
		}
	}

	.footer_link {
		margin-bottom: 24px;
		margin-left: auto;
		margin-right: auto;
		max-width: 250px;

		.name {
			font-size: 7.875px;
		}
	}

	h1 {
		font-size: 34px;
	}

	.home_title span:last-child img {
		width: 20px;
	}

	.home_subtitle {
		font-size: 33px;
	}

	h2 {
		font-size: 30px;
	}

	.faq_item_btn .name {
		font-size: 20px;
	}

	.section {
		padding: 50px 0;
	}

	.about {
		padding-top: 70px;
	}

	.result {
		padding: 50px 0;
	}

	.company {
		padding-bottom: 100px;
	}

	.company {
		padding-top: 60px;
	}

	.mission {
		padding: 50px 0;
	}

	.result_item {
		width: calc(50% - 10px);
	}

	.company_item {
		.title {
			display: none;
		}

		.text {
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			max-height: 74px;
		}
	}

	.mission_quote {
		padding: 30px;

		.text {
			font-size: 24px;
		}

		.signature {
			font-size: 16px;
		}
	}

	.swiper-button-next,
	.swiper-button-prev {
		width: 45px;
		height: 45px;

		svg {
			width: 18px;
			height: 18px;
		}
	}

	.people {
		padding-bottom: 100px;
	}

	.people_quote .text {
		font-size: 18px;
		padding-bottom: 40px;
	}

	.people_block {
		flex-direction: column;
	}

	.people_block_left {
		width: 100%;
	}

	.people_block_right {
		width: 100%;
		padding-left: 0;
		max-width: 500px;
	}

	.people_photo {
		max-width: 350px;
		margin-left: auto;
		margin-right: auto;
	}

	.footer {
		padding-top: 30px;
	}

	.footer_link a {
		font-size: 27px;
	}

	.modal_people_block {
		flex-direction: column;
	}

	.modal_people_block_left {
		width: 100%;
		height: 505px;
	}

	.modal_people_block_right {
		width: 100%;
		padding: 30px;
	}

	.modal_people_img_people {
		width: calc(100% - 60px);
		right: initial;
		left: 50%;
		transform: translateX(-50%);
		max-width: 285px;
	}

	.modal_title {
		font-size: 30px;
	}

	.modal_email {
		margin-top: 0;
	}
}

@media screen and (max-width:576px) {
	.stars_list svg {
		fill: $color_yellow;
		opacity: 1;
	}

	.result_list {
		gap: 30px;
	}

	.result_item {
		width: 100%;
	}

	.link_wrapper {
		flex-direction: column;
		gap: 2px;
	}

	.header_block {
		padding: 8px 15px;
		min-height: 65px;

		.logo {
			width: 85px;
		}
	}

	.language {
		font-size: 13.5px;
	}

	.header_elem {
		padding-top: 6px;
	}

	main:before {
		background: linear-gradient(180deg, #1E1F22 0%, rgba(30, 31, 34, 0.00) 100%);
	}

	.home .container {
		padding-top: 164px;
	}

	.home_bottom {
		flex-direction: column;
	}

	.home_subtitle {
		order: -1;
		font-size: 36px;
		max-width: 240px;
		margin-bottom: 30px;
		line-height: 120%;
	}

	.faq_item {
		padding-bottom: 6px;
	}

	.arrow {
		margin-right: auto;
	}

	.result_slider_title {
		font-size: 30px;
		font-weight: 500;

		span {
			font-weight: 700;
		}
	}

	.company_col {

		&:nth-child(4) {
			.company_logo {
				height: 50px;
			}
		}

		&:nth-child(5) {
			.company_logo {
				height: 42px;
			}
		}
	}

	.mission_block_left svg {
		height: auto;
	}

	.partners_item:hover:before {
		box-shadow: 0px 0px 17px 0px rgb(255 207 0 / 54%);
	}

	.partners_slider_wrapper {
		padding: 34px 0 41px;
		margin: -42px 0 -41px;
	}

	.partners_item_img {
		width: 64%;
	}

	.people_block_right {
		padding-top: 25px;
	}

	.people_quote {
		.text {
			padding-right: 27px;
			line-height: 121%;
		}

		.autor br {
			display: block;
		}
	}

	.administration {
		padding-bottom: 41px;
	}

	.footer_bottom {
		font-size: 18px;
	}

	h1 {
		font-size: 36px;
		line-height: 122%;
	}

	.home_title span {
		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-left: 0;

			img {
				margin-left: 5px;
			}
		}

	}

	.footer_bottom .link {
		text-align: center;
	}

	.modal_company {
		.modal_title {
			display: none;
		}
	}

	.modal-content {
		padding: 30px;
	}

	.modal_text {
		font-size: 16px;
	}

	.modal-content .result_list {
		gap: 10px;
	}

	.modal-content .result_item {
		width: 100%;
	}
}

@media screen and (max-width:340px) {
	h1 {
		font-size: 32px;
	}

	h2 {
		font-size: 27px;
	}

	.partners_item:before {
		top: -10px;
		left: -10px;
		width: calc(100% + 20px);
		height: calc(100% + 20px);
	}
}

//animate
.header_bg_img {

	// img {
	// 	animation: 1.5s bgImg ease-in forwards;
	// 	animation-delay: 5.5s;
	// 	transform: scale(1.5);
	// }

	// &:before {
	// 	animation: 1.5s bgBefore ease-in forwards;
	// 	animation-delay: 5.5s;
	// 	opacity: 0;
	// }
}

main {
	// top: 100dvh;
	animation: 1s endAnimateTop ease-in forwards;
	animation-delay: 4.5s;
}

.loader_wrapper {
	animation: 1s endAnimate ease-in forwards;
	animation-delay: 4.5s;

	&:after {
		animation: 1s endAnimateAfter ease-in forwards;
		animation-delay: 4.5s;
	}
}

.loader_line:after {
	animation: 4s prog ease-in forwards;
}

@keyframes bgImg {
	to {
		transform: scale(1);

	}
}

@keyframes bgBefore {
	to {
		opacity: 0.5;

	}
}

@keyframes prog {
	to {
		width: 100%;
	}
}

@keyframes endAnimate {
	to {
		transform: translateY(-100%);
	}
}

@keyframes endAnimateAfter {
	to {
		transform: translateY(-50%);
	}
}

@keyframes endAnimateTop {
	to {
		top: 0;
	}
}

.home_title {
	.line span {
		top: -0.1em;
		transform: translate3d(0, 100%, 0);
		animation: title 0.9s ease-in-out forwards;

		&:first-child span {
			animation-delay: 0.2s;
		}

		&:nth-child(2) span {
			animation-delay: 0.1s;
		}
	}
}

@keyframes title {
	to {
		transform: translate3d(0px, 0em, 0px);
	}
}

.home_bottom {
	overflow: hidden;

}

.home_subtitle {
	transform: translateY(100%);
	animation: translateY 1.5s ease-in-out forwards;
	animation-delay: 0.5s;
}

.arrow {
	transform: translateY(100%);
	animation: translateY 1.5s ease-in-out forwards;
	animation-delay: 1s;
}

@keyframes translateY {
	to {
		transform: translateY(0);
	}
}